.gallery_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.title {
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    overflow-wrap: normal; 
}

.gallery_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    max-width: 800px;
    min-width: 600px;
    background-color: #fff;
    border-radius: 25px;
}
.gallery_item img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change_button {
    margin: 20px auto;
}

.links_button_wrapper {
    margin: auto;
}

.link_button {
    margin-right: 20px;
}